{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.
{deps, [
    {lager,  {git, "https://github.com/basho/lager.git" ,    {tag, "3.0.1"}}}
,   {ranch,  {git, "https://github.com/ninenines/ranch.git", {tag, "1.2.0-rc.1"}}}
,   {gproc,  {git, "https://github.com/uwiger/gproc.git",    {tag, "0.5"}}}
,   {eredis, {git, "https://github.com/wooga/eredis.git",    {tag, "v1.0.8"}}}

]}.

{relx, [{release, {'wave', "0.1.0"},
         ['wave',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {dev, [
        {deps, [
            {sync,   {git, "git://github.com/rustyio/sync.git",      {ref, "9c78e7b"}}}
        ]}
    ]}
]}.
