%%
%%    Wave - MQTT Broker
%%    Copyright (C) 2014 - Guillaume Bour
%%
%%    This program is free software: you can redistribute it and/or modify
%%    it under the terms of the GNU Affero General Public License as published
%%    by the Free Software Foundation, version 3 of the License.
%%
%%    This program is distributed in the hope that it will be useful,
%%    but WITHOUT ANY WARRANTY; without even the implied warranty of
%%    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
%%    GNU Affero General Public License for more details.
%%
%%    You should have received a copy of the GNU Affero General Public License
%%    along with this program.  If not, see <http://www.gnu.org/licenses/>.

%% vim: set filetype=erlang

{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},

    {platform_define, "^17", 'OTP_RELEASE_17'},
    {platform_define, "^18", 'OTP_RELEASE_18'}
]}.

{deps, [
    {lager,  {git, "https://github.com/basho/lager.git" ,    {tag, "3.2.0"}}}
,   {ranch,  {git, "https://github.com/ninenines/ranch.git", {tag, "1.2.1"}}}
,   {sharded_eredis, {git, "https://github.com/gbour/sharded_eredis.git", {ref, "dc9c979"}}}
,   {syn,    {git, "https://github.com/ostinelli/syn",       {tag, "1.3.0"}}}

    % CURRENTLY USING FORK SUPPORTING REBAR3
%,   {jiffy  , {git, "https://github.com/davisp/jiffy.git"   , {tag, "0.14.4"}}}
,   {jiffy  , {git, "https://github.com/sergium/jiffy.git"   , {ref, "7e78a91"}}}
,   {shotgun, {git, "https://github.com/inaka/shotgun.git"   , {tag, "0.2.3"}}}
,   {cowboy , {git, "https://github.com/ninenines/cowboy.git", {ref, "06bd01d"}}} % 2.0.0-pre.2 + fix
,   {qdate   , {git, "https://github.com/choptastic/qdate.git", {tag, "0.4.2"}}}
]}.

{relx, [{release,
           {'wave', "0.3.0"},
           [
               wave,
               % dependencies dependencies
               poolboy, eredis,
               % required 'native' libs
               sasl, asn1, public_key, crypto, ssl
           ]},

        %NOTE: if app config file is a template, sys_config MUST be commented
        %      or relx will link/copy it raw in release directory
        %      (_build/*env*/rel/*app*/releases/*version*/sys.config)
        %{sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true},

        %{overlay_vars, "config/vars.config"},
        {overlay, [
            {mkdir, "log"},
            {copy, "etc/wave_key.pem", "etc/wave_key.pem"},
            {copy, "etc/wave_cert.pem", "etc/wave_cert.pem"}
            %NOTE: we use our wave.config as release sys.config
            %      template fields are replaced when creating the release
            %{template, "etc/wave.config", "releases/{{release_version}}/sys.config"}
        ]}
]}.

{profiles, [
    % building release for Debian 8.2 (jessie/stable: erts-6.2 (17.4))
    % chroot is installed in /srv/chroot/jessie.64 using following commands:
    % $> apt install debootstrap schroot
    % $> debootstrap --arch=amd64 --verbose jessie /srv/chroot/jessie.amd64
    % # schroot needs to be configured in /etc/schroot/schroot.conf
    % $> schroot -c jessie.64 --directory=/
    % $chroot> apt install erlang build-essential

    {debian_82, [
        {relx, [
            {dev_mode, false}
            %NOTE: rely on erts deployed on target server
            %      including erts make sense if target server is same as build server
            %      (same OS, same distribution, same version)
            ,{include_erts, "/srv/chroot/jessie.64/usr/lib/erlang"}
            ,{system_libs,  "/srv/chroot/jessie.64/usr/lib/erlang"}
        ]}

        % we need a distinct directory than other profiles
        % in order to build port for the considered target
        ,{deps, [
            {jiffy  , {git, "https://github.com/sergium/jiffy.git"   , {ref, "7e78a91"}}}
        ]}

        % when overriding, we need to re-set rules in original jiffy rebar.config with
        % to custom ones, as override replace directives
        ,{overrides,[
            {override, jiffy, [
                {port_env, [
                    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
                        "CC", "/srv/chroot/jessie.64/usr/bin/cc"},
                    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
                        "CXX", "/srv/chroot/jessie.64/usr/bin/c++"},
                    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
                        "ERL_CFLAGS", " -I\"/srv/chroot/jessie.64/usr/lib/erlang/lib/erl_interface-3.7.18\" -I\"/srv/chroot/jessie.64/usr/lib/erlang/erts-6.2/include\""},
                    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
                        "ERL_LDFLAGS", " -L\"/srv/chroot/jessie.64/usr/lib/erlang/lib/erl_interface-3.7.18/lib\" -lerl_interface -lei"},
                    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
                        "ERL_EI_LIBDIR", "\"/srv/chroot/jessie.64/usr/lib/erlang/lib/erl_interface-3.7.18/lib\""},

                    %NOTE: we need to re-copy original port_env settings
                    %      as *override* directive is replacing original directives
                    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
                        "CFLAGS", "$CFLAGS -Ic_src/ -g -Wall -Werror -O3 -fno-strict-aliasing"},
                    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
                        "CXXFLAGS", "$CXXFLAGS -Ic_src/ -g -Wall -Werror -O3"},

                    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
                        "LDFLAGS", "$LDFLAGS -lstdc++"}
                ]}

            ]}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false}
            ,{include_erts, true}
            ,{system_libs,  true}
            ,{sys_config, ".wave.prod.config"}
        ]}
    ]},
    {dev, [
        {erl_opts, [{d, 'DEBUG'}]},
        {deps, [
            {sync,       {git, "https://github.com/rustyio/sync.git",          {ref, "9c78e7b"}}}
        ]}
    ]},
    {travis, [
        {erl_opts, [{d, 'DEBUG'}]}
    ]},
    {tmpl, [
        {deps, [
            {bbmustache, {git, "https://github.com/soranoba/bbmustache.git", {tag, "v1.0.4"}}}
        ]}
    ]}

]}.

{dialyzer, [
    % disable *no_match* and *no_unused* temporary
    %{warnings, [error_handling, race_conditions]},
    {warnings, [error_handling, race_conditions, no_match, no_unused]},
    %{get_warnings, true}
    {get_warnings, false}
]}.


