{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager,  {git, "https://github.com/basho/lager.git" ,    {tag, "3.0.1"}}}
,   {ranch,  {git, "https://github.com/ninenines/ranch.git", {tag, "1.2.0-rc.1"}}}
,   {gproc,  {git, "https://github.com/uwiger/gproc.git",    {tag, "0.5"}}}
    % sharded_eredis & dependencies
,   {sharded_eredis, {git, "https://github.com/jeremyong/sharded_eredis.git", {ref, "ba770d8"}}}
,   {eredis, {git, "https://github.com/wooga/eredis.git",    {tag, "v1.0.8"}}}
,   {poolboy, {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.1"}}}
,   {uuid,    {git, "https://github.com/avtobiff/erlang-uuid.git", {tag, "v0.5.0"}}}
    % mod_freemobile dependencies
    % CURRENTLY USING FORK SUPPORTING REBAR3
%,   {jiffy  , {git, "https://github.com/davisp/jiffy.git"   , {tag, "0.14.4"}}}
,   {jiffy  , {git, "https://github.com/sergium/jiffy.git"   , {ref, "7e78a91"}}}
,   {shotgun, {git, "https://github.com/inaka/shotgun.git"   , {tag, "0.1.12"}}}
]}.

{relx, [{release,
           {'wave', "0.1.0"},
           [
               'wave', sasl,
               %NOTE: missing sharded_eredis dependencies
               poolboy, eredis,
               % ranch
               asn1, public_key, crypto, ssl
           ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {dev, [
        {deps, [
            {sync,   {git, "git://github.com/rustyio/sync.git",      {ref, "9c78e7b"}}}
        ]}
    ]}
]}.

