%% vim: filetype=erlang

[
  {wave, [
    {mqtt_port, 1883},
    {auth_required, false},
  
    {modules, [
      {freemobile, [
        {username, foo},
        {password, bar},

        {topics, [
          "/secu/ssh"
        ]}
      ]}

    ]}
  ]},

  {lager, [
    {error_logger_hwm, 50},
    {colored, true},

    {handlers, [
      {lager_console_backend, [none, {lager_default_formatter,[{eol, "\r\n"}]}]}
    ]}
  ]}
].
