{etc_dir, "/opt/wave/etc"}.
{log_dir, "/var/log")}.

{enabled_modules, "[]"}.
{lager_console_level, notice}.
{lager_extra_handlers, ",{lager_file_backend, [{file, \"/var/log/wave.log\"}, {level, debug}]}"}.

% number of milliseconds between 2 reporting of exometer metrics (10 secs)
{exometer_interval, 10000}.

{redis_server, "redis-wave"}.
{redis_port, 6379}.

