{etc_dir, "./etc"}.
{log_dir, "./log"}.

{enabled_modules, "[]"}.
{lager_console_level, error}.
{lager_extra_handlers, ",{lager_file_backend, [{file, \"/tmp/wave.travis.log\"}, {level, debug}]}"}.

% number of milliseconds between 2 reporting of exometer metrics (1 sec)
{exometer_interval, 1000}.

{redis_server, "localhost"}.
{redis_port, 6379}.
